.container-fluid {
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.start {
    align-items: flex-start;
    justify-content: flex-start;
}

.center {
    align-items: center;
    justify-content: center;
}

.end {
    justify-content: flex-end;
    align-items: flex-end;
}

.nested {
    width: 100%;
    margin: 10px;
}

.s-around {
    justify-content: space-around;
}

.s-between {
    justify-content: space-between;
}

.height-50 {
    height: 50px;
}

.height-80 {
    height: 80px;
}

.height-100 {
    height: 100px;
}

.blue {
    display: flex;
    background-color: blue;
    border: 1px solid white;
    color: white;
}

.green {
    display: flex;
    background-color: greenyellow;
    border: 1px solid blue;
    color: white;
}


